body{
    margin: 0px 100px;

}

header,article
{
    background-color: #DCDCDC;
    padding: 20px;
}
header
{
    padding-top: 40px;
}
p,h4,h3
{
    margin: 0;
    padding:0;
}
img{
    vertical-align: text-bottom;
    height: 220px;
    width: 205px;
    padding-left: 100px;
}
i{
    padding-right: 5px;
}
table{
    border-spacing: 0;
}
.intro
{
    font-size: 1.8rem;
    font-family: 'Roboto Slab', serif;
    padding-left: 10px;
    
}
.art
{
    width: 100%;
    font-family: 'Roboto Slab', serif;
    padding-left: 10px;
    font-size: 1.4rem;
}
.title
{
    font-size: 1.5rem;
}


.heading
{
    background-color: #1E90FF;
}
.extra-padding
{
    padding-top: 10px;
}
@media(max-width:1250px){
.intro
{
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif;
    padding-left: 10px;
    
}
.title
{
    font-size: 1.3rem;
}
.art
{
    width: 100%;
    font-family: 'Roboto Slab', serif;
    padding-left: 5px;
    font-size: 1.2rem;
}
header,article
{
    background-color: #DCDCDC;
    padding: 10px;
}
header
{
    padding-top: 20px;
}
body{
    margin: 0px 70px;

}
img{
    vertical-align: text-bottom;
    height: 220px;
    width: 205px;
    padding-left: 60px;
}
}
@media(max-width:1000px){
    .intro
    {
        font-size: 1.2rem;
        font-family: 'Roboto Slab', serif;
        padding-left: 10px;
        
    }
    .title
    {
        font-size: 1.1rem;
    }
    .art
    {
        width: 100%;
        font-family: 'Roboto Slab', serif;
        padding-left: 5px;
        font-size: 1rem;
    }
    header,article
{
    background-color: #DCDCDC;
    padding: 10px;
}
header
{
    padding-top: 20px;
}
body{
    margin: 0px 40px;

}
img{
    vertical-align: text-bottom;
    height: 220px;
    width: 205px;
    padding-left: 10px;
}
}
@media(max-width:800px){
    .intro
    {
        font-size: 1rem;
        font-family: 'Roboto Slab', serif;
        padding-left: 10px;
    
        
    }
    .title
    {
        font-size: 1rem;
    }
    .art
    {
        width: 100%;
        font-family: 'Roboto Slab', serif;
        padding-left: 5px;
        font-size: 0.9rem;
    }
    header,article
{
    background-color: #DCDCDC;
    padding: 10px;
}
header
{
    padding-top: 20px;
}
body{
    margin: 0px 20px;

}
img{
    position: relative;
    vertical-align: text-bottom;
    height: 220px;
    width: 205px;
}
}

@media(max-width:665px){
    .intro
    {
        font-size: 0.8rem;
        font-family: 'Roboto Slab', serif;
        padding-left: 10px;
        
    }
    .title
    {
        font-size: 0.8rem;
    }
    .art
    {
        width: 100%;
        font-family: 'Roboto Slab', serif;
        padding-left: 5px;
        font-size: 0.7rem;
    }
    header,article
{
    background-color: #DCDCDC;
    padding: 10px;
}
header
{
    padding-top: 20px;
}
body{
    margin: 0px 20px;

}
img{
    position: relative;
    vertical-align: text-bottom;
    height: 150px;
    width: 140px;
    padding-left: 0px;
}
}
